# pip3 install -r requirements.txt
# python3 -m spacy download en_core_web_sm
numpy
spacy
scikit-learn
nltk
google-cloud
google-cloud-storage
google-cloud-speech
google-cloud-language
moviepy
pydub
tensorflow
keras
keras_preprocessing
googletrans
srt
pytube
openai