# pip3 install -r requirements.txt
# python3 -m spacy download en_core_web_sm
numpy
spacy
scikit-learn
nltk
google-cloud
google-cloud-storage
google-cloud-speech
google-cloud-language
moviepy
pydub
tensorflow
keras
keras_preprocessing
googletrans==3.1.0a0
srt
pytube
openai
langchain
jq
git+https://github.com/openai/whisper.git
noisereduce
markdown